.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


/*Estilos hechos por mí mismo:*/

body {
  animation: aparecer 1s ease-in-out;
}

@keyframes aparecer { /*Esto hace una pequeña animación al entrar a la página web.*/
  from {
    opacity: 0;
    transform: translateY(0.3px);
  }to{
    opacity: 1;
    transform: translateY(0);
  }
}

:root {
  --colorRojo: #d32f2f;
}

.navbar{
  background-color: var(--colorRojo);
}

.nav-link:hover {
  font-weight: bold;
}

.navbar-brand {
  font-style: italic;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
}

li:hover{
  text-decoration: underline;
}

footer{
  background-color: var(--colorRojo);
}

.btn{
  background-color: var(--colorRojo);
}

.villanos .card:hover { /*Cuando doy hover en una carta dentro de la clase villanos.*/
  transform: scale(1.04); /*Para agrandar.*/
  transition: transform 0.3s ease-in-out;
}

.villanos .card {
  background-color: #282c34;
  color: white;
  text-align: center;
}

.villanos .card img {
  height: 355px;
}

.variantes .card:hover {
  transform: scale(1.04);
  transition: transform 0.3s ease-in-out;
}

.apariciones img {
  width: 255px;
}